# Virtual environments
env/
env310/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables
.env

# Database files
*.db

# OS files
.DS_Store
Thumbs.db
# Model files (too large for GitHub)
models/*.h5
models/*.pkl

# Upload folder (leaf images)
static/uploads/*
!static/uploads/.gitkeep

# Dataset files
data/*.csv
data/*.npy

# Training output
models/training_history.png
models/lcc_training_history.png